@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* transition: all ease 0.2ms; */
}

body {
  font-family: "Dokdo", system-ui !important;
  background-color: #00000032;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.card {
  margin: 0 auto !important;
  width: 300px;
  min-height: 400px;
  padding: 10px;
  background-color: whitesmoke;
}

.img {
  width: 100%;
}

.text2 {
  display: none;
}

.hide {
  width: 350px;
  min-height: fit-content;
}

.text2 {
  display: none;
}

.hide.active .text2 {
  display: block;
}

/* ================================================================== */
/* ================================================================== */
/* ================================================================== */
/* style={{ textShadow: "1px 2px 1px yellow" }} */

/* xxxxxxxxxxxxxxxxxx logo xxxxxxxxxxxxxxxxxxxxxxxxxxx */
.logo {
  width: 40px;
  height: 40px;
}

.logo:hover {
  animation: rotate 1s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.line {
  width: 20px;
  height: 30px;
}

.mainicon {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 5px;
  background-color: #ffffff !important;

}

.border1 {
  margin: 0 auto;
  justify-content: center;
  padding: 10px;
  align-items: center;

}

.border1:hover {
  border-top: 5px solid #b80ae3;
  background-color: rgb(255, 255, 255);
}

.icon {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  animation: bounce;
  animation-duration: 2s;

}

.icon-heading {
  font-size: 15px;
}

.icon:hover {
  color: #b80ae3 !important;
}

.nav {
  width: 100% !important;
  height: 40px !important;
  background-color: black;
  border-radius: 15px;
  border: 5px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* xxxxxxxxxxx projects section xxxxxxxxxxxx */
.procards {
  height: 150px;
  width: 150px;
  animation: float 0.9s infinite alternate;

}

.procards_back {
  margin: 10px;
  max-width: 280px !important;
  backdrop-filter: blur(4px);
  background-color: rgba(85, 92, 93, 0.137);
  border-radius: 10%;
  filter: drop-shadow(8px 0px 1.5em #b80ae35e);
}

.gap {
  line-height: 30px;
}

/* -------------certificates------------ */


.certificate-card {
  max-width: 300px !important;
  max-height: 300px !important;
  margin: 0 auto;
  filter: drop-shadow(5px 1px 1em #b80ae35e);
  backdrop-filter: blur(4px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card:hover {
  filter: drop-shadow(8px 0px 1.5em #0000005e);
}

.image {
  width: 250px;
  height: 200px;
  margin: 0 auto !important;
  animation: float 0.7s infinite alternate;
}

.click {
  font-size: 13px !important;
  margin: 0 auto;
}

.h2 {
  font-size: 16px !important;
  backdrop-filter: blur(8px);
}

.typed-span {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b80ae3;
  text-shadow: 2px 1px 1px rgb(255, 255, 255);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.card1,
.card2,
.card3,
.card4 {
  max-width: 270px;
  min-height: 250px;
  backdrop-filter: blur(8px);
  margin: 12px !important;
  border-radius: 10px;
  margin: 0 auto;
  animation: float 0.7s infinite alternate;
  filter: drop-shadow(5px 1px 1em #b80ae35e);

}


.firstcards {
  border: 3px solid rgb(0, 179, 255);
}

.card1:hover {
  border: 5px dashed gray;
}

.card1 h2:hover {

  border: 1px dashed rgb(0, 0, 0);
  background-color: #ffffff;
  color: #b80ae35e !important;
}


/* -------------------------------------- */
/* xxxxxxxxxxx client section xxxxxxxxxxxx */
.clientcard {
  border: 5px dashed #000 !important;
  max-width: 310px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  backdrop-filter: blur(4px);
  background-color: rgba(64, 62, 62, 0.116) !important;
  color: #b80ae35e !important;
}

.client:hover {
  border: 5px dashed rgb(0, 0, 0);
  /* background-color: #807e8148; */
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */